/* Font */
@font-face {
	font-family: Sans-Regular;
	src: url('../font/SanFranciscoText-Regular.otf'); 
}

* {
	font-family: Sans-Regular, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
	letter-spacing: 0.5px;
}

body {
	background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	padding-top: 3vh;
	margin: auto;
	width: 50vw;
	height: 90vh;
	border-style:solid;
	border-width:thin;
	border-color:yellow;
	border-left:1px solid yellow;
	border-radius: 10px;
}

h1 {
	margin-bottom: 5vh;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

ul {
	margin: 2vh 3vw 0 3vw;
	padding-top: 1vh;
	height: 68vh;
	overflow: auto;
}

@media (min-width: 481px) and (max-width: 767px) {
	* {
		font-size: 16px;
	}

	h1 {
		font-size: 27px;
	}

	.main {
		width: 80vw;
	}

	ul {
		margin-top: 4vh;
		height: 65vh;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	
	h1 {
		font-size: 27px;
	}

	.main {
		width: 80vw;
	}
	
	* {
		font-size: 16px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
  
 .main {
		width: 80vw;
	}
	
	ul {
		margin-top: 4vh;
		height: 65vh;
	}
	
	* {
		font-size: 16px;
	}
  
}


ul li:not(:last-child) {
	height: 6vh;
	margin-left: 2vw;
	margin-right: 0.2vw;
	line-height: 6vh;
	list-style: none;
	
	border-bottom: 1px solid #c0c0c0;	
}

ul li span {
	margin-left: 1vw;
	color: black;
}

input[type=checkbox]{
	transform: scale(1.2);
}

.todo {
	border-style:solid;
	border-width:thin;
	border-color:white;
	border-left:1px solid white;
	border-radius: 10px;
}

#add {
	margin-left: 1vw;
	width: 5vw;
	color: while;
	background: #00ff00;
	border: double;
	font-size: 16px;
	font-weight: bold;
}

@media (min-width: 481px) and (max-width: 767px) {
	#add {
		margin-top: 1vh;
		width: 70px;
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#add {
		width: 70px;
		
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	#add {
		width: 70px;
		
	}
}

#xLi{
	background: white;
	border: none;
	margin: 1vh 0 0 2vw;
	width: 2vw;
	height: 4vh;
	float: right;
	
	transition: all 0.5s ease, padding 0.8s linear;
}

@media (min-width: 320px) and (max-width: 480px) {
	#xLi{
		width: 5vw;
		height: 4vh;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#xLi{
		width: 5vw;
		height: 4vh;
	}
}

#xLi:hover {
	background: red;
	border-radius: 5px;
	cursor: pointer;
}

 
/*::-webkit-scrollbar{
	width:10px;
	margin-right:10px;
	
}
::-webkit-scrollbar-track{
	background:0 0;
}
::-webkit-scrollbar-thumb{
	background:#28efd8;
	border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
	background:rgba(0,0,0,.5);
}*/
